@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

%round-btn-gallery {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include imageClear($bs: inherit);
  filter: brightness(0.5);
}

.button {
  @include georgia($fs: 1rem, $lh: 1.375rem, $color: $dark-3xl, $ls: 0.06em);
  @include transition();
  border: 2px solid $primary;
  border-radius: 6.25rem;

  &:hover {
    cursor: pointer;
    border: 2px solid $primary-light;
    background-color: $primary-light;
  }

  &__menu {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__primary {
    border: 2px solid $primary;
    color: $dark-3xl;
    height: 50px;
  }

  // main page - hero section
  &__primary--hero {
    @include clearLink();
    background-color: $primary;
    width: 12.7rem;
  }

  // main page - pets section
  &__primary--pets {
    @include clearLink();
    width: 16.3rem;
    background-color: $primary;
    margin-bottom: 96px;

    @include media-mobile {
      margin-bottom: 39px;
    }
  }

  // general cards styles
  &__primary--card {
    background-color: transparent;
    width: 11.7rem;
  }

  &__round {
    @include imageClear($bs: inherit);
    width: 52px;
    height: 52px;
    background-color: transparent;
    padding: 16px;
    border-radius: 50%;

    // slider main page
    &--left {
      background-image: url('../assets/icons/arrow-left.svg');

      @include media-tablet {
        order: 2;
        flex-basis: auto;
        margin: 20px 40px;
      }
    }

    &--right {
      background-image: url('../assets/icons/arrow-right.svg');

      @include media-tablet {
        order: 3;
        flex-basis: auto;
        margin: 20px 40px;
      }
    }

    // gallery pets page
    &--start {
      position: relative;

      &::before {
        @extend %round-btn-gallery;
        background-image: url('../assets/icons/arrow-doble-left-inactive.svg');
      }
    }

    &--prev {
      position: relative;

      &::before {
        @extend %round-btn-gallery;
        background-image: url('../assets/icons/arrow-left-inactive.svg');
      }
    }

    &--next {
      position: relative;
      // background-image: url('../assets/icons/arrow-right-active.svg');

      &::before {
        @extend %round-btn-gallery;
        background-image: url('../assets/icons/arrow-left-inactive.svg');
        transform: rotate(180deg);
      }
    }

    &--end {
      position: relative;
      // background-image: url('../assets/icons/arrow-doble-right-active.svg');

      &::before {
        @extend %round-btn-gallery;
        background-image: url('../assets/icons/arrow-doble-left-inactive.svg');
        transform: rotate(180deg);
      }
    }
  }

  &--inactive {
    border: 2px solid $dark-s;

    &:hover {
      border: 2px solid $dark-s;
      background-color: transparent;
      cursor: initial;
    }

    &::before {
      filter: none;
    }
  }

  // pop up modal
  &__modal {
    position: absolute;
    background-image: url('../assets/icons/icon-close.svg');
    background-repeat: no-repeat;
    background-size: auto;
    bottom: 100%;
    left: 99%;

    @include media-tablet {
      left: 91%;
    }
  }
}

.hover {
  cursor: pointer;
  border: 2px solid $primary-light;
  background-color: $primary-light;
}
